body{
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

.login{
    width: 200;
    height: auto;
    float: right;
}

.login a{
    display: inline;
    padding-right: 15px;
}

#sign-up{
    display: block;
    text-align: center;
}